<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
    <style th:fragment="header-style">
        body { padding-top: 70px; }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:text="'Hello ' + (${#httpServletRequest.remoteUser} ?: 'anon') + '!'" href="/">Simple
                Webshop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:class="${#request.requestURI} == '/' ? 'active':''"><a href="/">Home</a></li>
                <li th:class="${#request.requestURI} == '/registerCustomer' ? 'active':''"
                    sec:authorize="isAnonymous()"><a href="/registerCustomer">Register</a></li>
                <li th:class="${#request.requestURI} == '/registerEmployee' ? 'active':''"
                    sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="/registerEmployee">Register Employee </a></li>
                <li th:class="${#request.requestURI} == '/allorders' ? 'active':''"
                    sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"><a href="/allorders">Show all orders</a>
                </li>
                <li th:class="${#request.requestURI} == '/addProduct' ? 'active':''"
                    sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"><a href="/addProduct">Add New Product </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:class="${#request.requestURI} == '/basket' ? 'active':''"><a href="/basket" th:href="@{/basket}"
                                                                                    th:text="'Basket(' + ${basketCount} + ')'"><span>Basket</span></a>
                </li>
                <li sec:authorize="!isAnonymous()"><a th:href="@{/logout}" method="post">Sign Out</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign In</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>