<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <style th:include="fragments/header :: header-style"></style>
</head>
<body>
<!-- START PAGE CONTAINER -->
<div th:replace="fragments/header :: header">
</div>
<div class="container-fluid">
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Add new Product
        </h2>
    </div>
    <div class="column">
        <form action="#" method="post" th:action="@{/addProduct}"
              th:object="${product}">

            <table>
                <tr>
                    <td>Article name</td>
                    <td><input maxlength="20" th:field="*{productName}" th:type="text"/></td>
                    <td th:errors="*{productName}" th:if="${#fields.hasErrors('productName')}">Name
                        Error
                    </td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td><input th:field="*{stock}" th:type="number"/></td>
                    <td th:errors="*{stock}" th:if="${#fields.hasErrors('stock')}">Name
                        Error
                    </td>

                </tr>
                <tr>
                    <td>
                        <button type="submit">submit</button>
                    </td>

                </tr>
            </table>

        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


<script
        crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>