<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
</head>
<body>
<div align="center">


        <table align="center" border="1" cellpadding="10">

            <td>Your order</td>

            <td>Order ID:</td>
            <td th:text="${order.id}"></td>

            <td>Created By:</td>
            <td th:text="${order.addedBy}"></td>

            <td>Status:</td>
            <td th:text="${order.orderStatus}"></td>
        </table>

    <table align="center" border="1" cellpadding="10">
        <td>Products:</td>
    </table>


    <table align="center" border="1" cellpadding="10">

        <tbody>
        <tr th:each="product: ${productsList}">
            <td th:text="${product.product.id}">Product ID</td>
            <td th:text="${product.product.productName}">Product name</td>
            <td th:text="${product.quantity}">Product name</td>

            <form th:action="@{/deleteArticle}" method="post">

                <td><input type="number" th:name="quantity"/></td>
                <td>
                    <button type="submit" th:value="${product.product.id}" value="id">Delete</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <a href="/deleteOrder" type="button">Delete Order</a>

</div>
</body>
</html>