<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Starting Page</title>
</head>
<body>
<h1 th:inline="text" th:text="'Hello ' + (${#httpServletRequest.remoteUser} ?: 'anon') + '!'"></h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<p></p>
<div align="center">
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th></th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.productName}">Order Date</td>
            <form th:action="@{/}" method="post">
                <td>
                    <button type="submit" th:value="${product.id}" th:name="id">Add</button>
                </td>
                <td><input type="text" value="1" th:name="quantity"/></td>
            </form>
        </tr>
        </tbody>
    </table>
    <a href="/basket">Basket </a>
    <p></p>
    <!--    <table border="1" cellpadding="10">-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <th>Order ID</th>-->
    <!--            <th>Product Name</th>-->
    <!--            <th>Quantity</th>-->
    <!--            <th>Add</th>-->
    <!--            <th>Remove</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="product : ${listProductsByOrder}">-->
    <!--            <td th:text="${order.id}">Product ID</td>-->
    <!--            <td th:text="${order.productName}">Order Date</td>-->
    <!--            <form th:action="@{/}" method="post">-->
    <!--                <td>-->
    <!--                    <button type="submit" th:value="${product.id}" th:name="id">Add</button>-->
    <!--                </td>-->
    <!--                <td><input type="text" value="1" th:name="quantity"/></td>-->
    <!--            </form>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
</div>
</body>
</html>
<body>

</body>
</html>