<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Webshop</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style th:include="fragments/header :: header-style"></style>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div class="container" align="center">
    <div class="starter-template">
        <table border="1">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th></th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.productName}">Order Date</td>
                <form th:action="@{/}" method="post">
                    <td>
                        <button type="submit" th:value="${product.id}" th:name="id">Add</button>
                    </td>
                    <td><input type="number" value="1" th:name="quantity"/></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
<body>

</body>
</html>