<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
    <style th:include="fragments/header :: header-style"></style>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div align="center">

    <div align="center">
        <h1>Products:</h1>
    </div>
    <form action="#" th:object="${product}" method="get" enctype="utf8">
        <table align="center" border="1" cellpadding="10">


            <tbody>
            <tr th:each="product: ${allProducts}">
                <td th:text="${product.productName}">Product ID</td>
                <td th:text="${product.stock}">Product name</td>
            </tr>
            </tbody>
        </table>
    </form>
    <div>

    </div>
    <a href="/addProduct/new">Add Product</a>

</div>
</body>
</html>