<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
<head>
    <title>Webshop Registration Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style th:include="fragments/header :: header-style"></style>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <h1 class="alert alert-success">Success</h1>
    <a class="btn btn-success" href="/login" role="button">Login</a>
</div>
</body>
</html>